body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}
form {
  background-color:#ddd;
  border-style:solid;
  border-radius:10px;
}
.items{

  max-height:150px;
}
img{
  max-width:150px;
}
a {
  color: #00B7FF;
}
