body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align:center;
}

.items{
 background-color:#ccc;
  border-style:solid;
  border-radius:10px;
  max-height:150px;
}
img{
  max-width:200px;
}
a {
  color: #00B7FF;
}
